.mr-20 {
  margin-right: 20px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.pv-30 {
  padding: 0 30px !important;
}
