// light-theme
$color--light: #fff;
$color--accent-light: #6ad7e5;
$color--accent-light-dim: #e1f7fa;
$color--accent-light-hover: #59b5c1;
$color--gray: #bfbfbf;
$color--gray-light: #dce3eb;
$color--dark: #333;
$color--primary-green: #219653;
$color--primary-green--hover: #1c7e46;
$color--danger: #eb1313;
$color--danger--hover: #b91212;
// dark-theme


// sizes
$size--12: 12px
